/* body{
	margin:0 auto;
	text-align:center;
} */
/*导航栏样式*/
#main{
		width:100%;
	}
#navall{
		width:100%;
		margin:0 auto;
		position:relative;
	}
#navall div.ulbg{
		background:-webkit-linear-gradient(left,#80BFFE,#4FF0C8);
		width:100%;
        height:50px;
	}
#navall ul{
		width:960px;
		height:50px;
		margin:0 auto;
		position:absolute;
		top:151px;
		left:145px;
		background:-webkit-linear-gradient(left,#80BFFE,#4FF0C8);
	}
#navall ul li{
		float:left;
		font-size:18px;
		font-weight:normal;
		height:50px;
		line-height:50px;
		width:106px;
		text-align:center;
		transition:all .5s linear;
	}
	/* 悬停时不同位置有不同的颜色,未完成*/
#navall ul li:hover{
			background:#70B1E2;
		}
#navall ul li a,.nav ul li a:hover{
		color:white;
	}
.selected{
		background:#70B1E2;
	}
/*sidebar的样式*/
#sidebar{
		position:absolute;
		z-index:10;
		top:50px;
	}
#sidebar>ul{  background:#fff;
		width:200px;
		height:380px;
	}
#sidebar>ul>li{
		height:38px;
		line-height:38px;
		width:200px;
		font-size:16px;
		transition:all 0.3s linear;
		background:white;
	}
#sidebar>ul>li>a>i{
		display:block;
		float:left;
		width:26px;
		height:26px;
		margin:0 8px;
		margin-top:5px;
		background:url("../img/images/menu_i_bg_new.png");
	}
#sidebar>ul>li>a>span{
	display:inline-block;
	color:#333;
	float:left;
}
#sidebar ul li:hover{
		padding-left:10px;
		width:190px;
	}
#sidebar ul li:nth-child(1)>a>i{
		background-position:0px 104px;
	}
#sidebar ul li:nth-child(2)>a>i{
		background-position:0px 77px;
	}
#sidebar ul li:nth-child(3)>a>i{
		background-position:0px 260px;
	}
#sidebar ul li:nth-child(4)>a>i{
		background-position:0px 234px;
	}
#sidebar ul li:nth-child(5)>a>i{
		background-position:0px 313px;
	}
#sidebar ul li:nth-child(6)>a>i{
		background-position:0px 210px;
	}
#sidebar ul li:nth-child(7)>a>i{
		background-position:0px 185px;
	}
#sidebar ul li:nth-child(8)>a>i{
		background-position:0px 261px;
	}
#sidebar ul li:nth-child(9)>a>i{
		background-position:0px 157px;
	}
#sidebar ul li:nth-child(10)>a>i{
		background-position:0px 131px;
	}
/*隐藏的文字	*/
#desc{
		width:400px;
		height:390px;
		margin-left:205px;
		background:#fff;
		position:absolute;
		top:150px;
		left:140px;
		z-index:10;
		display:none;
		opacity:0.8;
	}
.title{
		margin:20px 0 10px 20px;
	}
.content{
		display:inline-block;
		margin:0 10px;
		height:20px;
		font-size:15px;
		text-align:center;
		line-height:20px;
	}
a.content:hover{
		color:#70B1E2;
	}
/*广告轮播*/
#banner{
		width:100%;
		height:384px;
		overflow:hidden;
		position:relative;
	}
#banner>ul>li{
		float:left;
		width:100%;
		height:100%;
	}
#banner>ul>li>img{
		width:100%;
		height:100%;
	}
#banner ul.banner-img{
		position:absolute; left:0;
	}
#banner ul.banner-img>li{float:left;width:1900px;}
#banner ul.banner-img img{
		width:1900px;
		height:384px;
	}
#banner ul.indicators{
		position:absolute;
		bottom:30px;
		left:60%;
		margin-left:-34px;
	}
#banner ul.indicators li{
		width:12px;
		height:12px;
		background:#fff;
		border-radius:50%;
		float:left;
		margin-right:5px;
		transition:all .2s linear;
	}
#banner ul.indicators li:hover,#banner ul.indicators li.hover{
		cursor:pointer;
		background-color:#0AA1ED;
	}
/*楼层1*/
#floor1{
	width:100%;
	margin:0 auto;
	text-align:center;
	margin-top:20px;
	display:flex;
	justify-content: space-between;
}
   /* 医生 */
#doctors{
		width:51%;
		height:500px;
		box-sizing:border-box;
	}
#doctors>ul{
	 	width:100%;
		height:84%;
		display:flex;
		 justify-content: space-between;
		 flex-wrap:wrap;

	 }
#doctors>ul li{
		 background: gray;
		 width: 340px;
		 height: 205px;
		 box-sizing: border-box;
		 overflow: hidden;
		 transition: all 0.3s linear;
		 /* margin-left: -71px; */
		 float: left;
		 transform: scale(0.96);
		 position: relative;
	 }
#doctors>ul li:hover{
	 	/*transform: scale(0.71);*/
	 	box-shadow: 0px  0px 1px 1px #aaa;
		 }
#doctors>ul li a{
		display:block;
		width:100%;
		height:210px;
	}
.coverdiv{
		width:340px;
		height:210px;
		background-color:rgba(0,0,0,0.1);
		position:relative;
		top:-61px;
		display:block;
		padding-top:100px;
		transition:all 0.3s linear;
	}
.coverdiv:hover{
	top:-208px;
}
#doctors span{
		display:block;
		color:white;
		font-size:30px;
		text-align:center;
		position:absolute;
		top:15px;
		left:30%;
	}
#doctors p{
	display:block;
	color:white;
	font-size:23px;
	text-align:center;
	position:absolute;
	top: 90px;
	margin: 0 20px;
}
.doc-info{
	width:50%;
	height:500px;
}
.doc-left-head{
	font-size:14px;
	width:65%;
	margin:0 auto;
	padding-bottom:40px;
}
.doc-left-head p{
	display:inline-block;
	float:right;
}
.doc-left-body{
	color:#fff;
	width: 65%;
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
#line-left{
	display:inline-block;
	width:3px;
	height:14px;
	vertical-align:top;
	background:#48c2b7;
	border-radius:4px;
	float:left;
}
.doc-left-head b{
	float:left;
	padding-left:20px;
	font-weight:normal;
}
.doc-left-body li{
	width: 49%;
	height: 70px;
	margin-bottom: 10px;
	position: relative;
}
#doc-info-cover{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.1);
	opacity:0.1;
	position:absolute;
	top:0;
	left:0;
	border:1px solid #9f9f9f;
}
.doc-left-body li a span:nth-child(2){
	color: #9f9f9f;
	line-height: 16px;
	font-size: 12px;
}
.doc-info-left{
	float:left;
	width:100%;
	height:500px;
}
   /* 案例 */
#floor2{
	width:100%;
	clear:both;
	margin:0 auto;
	margin-bottom:50px;
	text-align:center;
	padding-left:110px;
	border-top:1px solid gray;
	box-sizing:border-box;
   }
#floor:after{
	content:"";
	display:block;
	clear:both;
}
#floor2>div{
	width:407px;
	height:541px;
	background:gray;
	float:left;
	border:1px solid transparent;
   }
#floor2>#right-details{
   	float:left;
	width:267px;
	height:541px;
	box-sizing:border-box;
	overflow:hidden;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
   }
#floor2>#right-details>li{
	width:130px;
	height:145px;
	   position:relative;
	/*background:pink;*/
   }
#floor2>#right-details>li>a{
	display:block;
	width:130px;
	 height:145px;
	}
#floor2>#right-details>li.sub{
	width:260px;
	height:110px;
	background:#000;
	opacity:0.6;
	color:white;
	font-size:22px;
	font-weight:normal;
	padding-top:20px;
	box-sizing:border-box;
  }
#floor2>#right-details>li.sub>p{
	margin-bottom:10px;
}
#floor2>#right-details>li.sub>a{
	display:block;
	width:80px;
	height:26px;
	text-align:center;
	line-height:26px;
	border:1px solid orange;
	border-radius:3px;
	font-size:16px;
	color:orange;
	margin:0 auto;
}
#right-details .real-text{
	background: url("../img/index/wh_img40.png") left top;
	display: block;
	width: 47px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	height: 28px;
	padding: 117px 8px 0px 75px;
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
}
#right-details .real-text:hover{
	background: url("../img/index/wh_img39.png") left top;
	width: 65px;
	font-size: 18px;
	line-height: 65px;
	height: 105px;
	padding: 40px 32px 0px 33px;
}
#right-details .real-text i{
	display:block;
	widht:40px;
	height:16px;
	line-height:16px;
	position:absolute;
	top:85%;
	left:65%;
	border:1px solid deepskyblue;
	background:deepskyblue;
	/*border-radius:100px;*/
	opacity:0.7;
	color:white;
	font-size:16px;
	/*padding-top:10px;*/
}
#floor3{
	margin:50px auto;
	width:1112px;
	height:370px;
	/* padding-top:550px; */
	border-top:1px solid gray;
	clear:both;
	position:relative;
  perspective:2000px;
}
#floor3 #brandD{
	width:220px;
	height:300px;
	float:left;
	margin-left:80px;
	margin-top:50px;
	display:flex;
	flex-direction:column;
	position:absolute;
	z-index:100;
}
#floor3 #brandD>div,#floor3 #brandD>a{
	width:270px;
	height:35px;
	border:1px solid transparent;
	border-radius:3px;
	position:absolute;
}
#floor3 #brandD>div{
	z-index:110;
	opacity:.6;
	background:#398A94;
}
#floor3 #brandD>a{
	line-height:35px;
	text-decoration:none;
	z-index:130;
	color:#fff;
	font-size:20px;
	text-align:center;
	transition: all .5s linear;
}
#floor3 #brandD>a.hover{
	color:#398A94;
}
#floor3 #brandD>.box{
	position:absolute;
	font-size:20px;
	text-align:center;
	width:270px;
	height:35px;
	border:1px solid transparent;
	border-radius:3px;
	color:#398A94;
	background-color:white;
	z-index:120;
	top:0;
	transition:all .5s linear;
}
#floor3 .device{
	margin:0 auto;
	width:1088px;
	height:370px;
	background-image:url("../img/index/wh_img42.jpg");
	background-repeat:no-repeat;
	position:absolute;
	transition: all 1.5s linear;
  perspective:2000px;
}
#floor3 .device.fade{
	opacity:0;
  transition:all .5s linear;
}
#floor3 .device.in{
	opacity:1; z-index:10;
}
#floor3 .device.in>.d-right{
  transform-origin: 50%  50%  -100px;
}
#floor3 .device p{
	color:white;
	font-size:14px;
	width:430px;
	height:80px;
	/*margin-right:50px;*/
	margin-top:20px;
}
#floor3 .device span{
	display:inline-block;
	width:250px;
	margin-top:30px;
	/*margin-right:50px;*/
	font-weight:bold;
	font-size:24px;
	color:white;
}
.d-right{
	float:right;
	width:600px;
}
.smpic1{
	width:300px;
	height:180px;
	background-image:url("../img/index/a-1.jpg");
	background-repeat:no-repeat;
	float:left;
}
.smpic2{
	width:300px;
	height:180px;
	background-image:url("../img/index/a-2.jpg");
	background-repeat:no-repeat;
	float:right;
}
#leftdiv,#rightdiv{
	position:relative;
}
.realcaseinfo{
	width:100%;
	height:183px;
	position:absolute;
	left:0;
	top:0;
}
.iconinfo{
	width: 58px;
	height: 55px;
	margin: 0px 0px 23px 0px;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	padding: 16px 0px 0px 13px;
}
#leftdiv div.iconinfo,#rightdiv div.iconinfo{
	background:url("../img/index/wh_img36.png") no-repeat;
}
.infomiddle{
	height: 84px;
}
div.infomiddle p{
	font-size: 14px;
	line-height: 22px;
	color: #333333;
	padding-left:10px;
	float:left;
	clear:left;
}
#container{
  width:1088px; height:370px;
  transform:rotatex(0deg) rotatey(0deg);
  transition:all .5s linear;
	border-radius:20px;
}
.doc-left-body>li{
  perspective:1000px;
  transform-style:preserve-3d;
}
.doc-left-body>li>a{
  z-index:10;
  display:inline-block;
  width:66px; height:66px;
  transform:rotateY(0deg);
  transform-style:preserve-3d;
  transition:all .5s linear;
}
.doc-left-body>li.h>a:hover{
   transform:rotateY(180deg);
 }
.doc-left-body>li.v>a:hover{
  transform:rotateX(180deg);
}
.doc-left-body>li>a>*,.doc-left-body>li>a+b{
  border-radius: 50%;
  width:66px; height:66px;
  position:absolute;
  top:50%;left:50%;
  margin-left:-33px;
  margin-top:-33px;
}
.doc-left-body>li>a>img{
  transform:translateZ(5px);
}
.doc-left-body>li.h>a>p{
  background:#f8f8f8;
  transform:translateZ(-5px) rotateY(180deg);
}
.doc-left-body>li.v>a>p{
  background:#f8f8f8;
  transform:translateZ(-5px) rotateY(180deg) rotateZ(180deg);
}
.doc-left-body>li>a+b{
  background:gray;
  opacity:.2;
  transform:translateY(43px) scaleY(.1);
  transition:all .5s linear;
}
.doc-left-body>li.h>a:hover+b{
   transform:translateY(43px) scaleY(.1) rotateY(180deg);
 }
.doc-left-body>li.v>a:hover+b{
  animation:v_rotate .5s;
}
@keyframes v_rotate{
  0%{transform:translateY(43px) scaleY(.1)}
  50%{transform:translateY(43px) scaleY(.2)}
  100%{transform:translateY(43px) scaleY(.1)}
}
