.main{
    width:960px;
    margin:0 auto;
}
/*div{*/
    /*border:1px solid gray;*/
/*}*/
#path_Box{
    line-height: 34px;
    padding-top: 6px;
}
#path_Box a {
    color: #66c9be;
    text-decoration: none;
}
li{
    list-style:none;
}
ul.optul,ul.btmul{
    margin:0 auto;
    width:100%;
    height:211px;
    /*border:solid 1px #e6e9ea;*/
    /*border-width: 1px 0;*/
    padding:0;
    padding-top: 5px;
}
ul.optul li{
    border-top: 0;
    line-height:100%;
    padding-top:10px;
    border-bottom:1px dotted #e6e9ea;
}
ul.optul p,ul.optul span{
    display:inline-block;
}
ul.optul p{
    width:80%;
    height:30px;
}
.on,ul.optul li a:hover {
    color: #fff;
    background: #ff8c26;
    text-decoration: none;
    border-radius: 4px;
}
ul.optul li a{
    display: inline-block;
    padding: 0 6px;
    margin: 0 20px 10px 0;
}

.nav-box li{
    color:#fff;
}

ul.btmul :after,ul.btmul li:after{
    content:"";
    display:block;
    clear:both;
}
ul.btmul li{
    position:relative;
    height:150px;
    /*padding:30px 0;*/
    line-height:150px;
    border-bottom: 1px solid #e6e9ea;
}
.rightText{
    float:left;
    margin-left:65px;
    height:100%;
    width:70%;
}

.rightText p{
    padding:0;
    width:500px;
    height:20px;
    line-height:20px;
    position:relative;
    /*margin-top:25px;*/
}
.rightText p span{
    position:absolute;
    top:0px;
    left:0px;
    font-size:12px;
}
.fp{
    margin-top:48px;
}

.doc-pic-name img{
    width:120px;
    height:120px;
    /*text-align:center;*/
}
.doc-pic-name{
    height:100%;
    width:30%;
    float:left;
}
.rightText{
    position:relative;
}
.rightText a{
    font-size: 16px;
    display: inline-block;
    width:100px;
    height:20px;
    line-height:20px;
    color: #3c5a57;
    position:absolute;
    top:18px;
}
ul.btmul{
    margin-top:50px;
}
ul.btmul a.skills{
    width:300px;
    float:left;
    display:inline-block;
    font-size:14px;
    position:absolute;
    top:0px;
    left:65px;
    color:#66c9be;
}





